[submodule "external/openssl"]
	path = external/openssl
	url = https://github.com/openssl/openssl.git
    branch = OpenSSL_1_1_1-stable
[submodule "external/qcbor"]
	path = external/qcbor
	url = https://github.com/laurencelundblade/QCBOR.git
[submodule "external/t_cose"]
	path = external/t_cose
	url = https://github.com/laurencelundblade/t_cose.git
	branch = dev
[submodule "external/ctoken"]
	path = external/ctoken
	url = https://github.com/laurencelundblade/ctoken.git
[submodule "external/libcsuit"]
	path = external/libcsuit
	url = https://github.com/dthaler/libcsuit.git
	branch = fix-build
