[submodule "external/openssl"]
	path = external/openssl
	url = https://github.com/openssl/openssl.git
[submodule "external/qcbor"]
	path = external/qcbor
	url = https://github.com/laurencelundblade/QCBOR.git
[submodule "external/t_cose"]
	path = external/t_cose
	url = https://github.com/laurencelundblade/t_cose.git
[submodule "external/ctoken"]
	path = external/ctoken
	url = https://github.com/laurencelundblade/ctoken.git
