[submodule "jose"]
	path = external/jose
	url = https://github.com/dthaler/jose.git
[submodule "external/jansson"]
	path = external/jansson
	url = https://github.com/dthaler/jansson.git
[submodule "external/openssl"]
	path = external/openssl
	url = https://github.com/openssl/openssl.git
[submodule "external/qcbor"]
	path = external/qcbor
	url = https://github.com/laurencelundblade/QCBOR.git
[submodule "external/t_cose"]
	path = external/t_cose
	url = https://github.com/laurencelundblade/t_cose.git
